{% extends 'base.html.twig' %}

{% block body %}

<div class="row">

    <div class="col-lg-7">
        <p>form</p>
    </div>

    <div class="col-lg-5">
        <p>table</p>
    </div>

</div>
{% endblock %}
