<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Song Contest{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        {% endblock %}
    </head>
    <body>
        <div class="container">

            <div class="row">
                <div class="col">
                    <div class="navbar bg-dark rounded-lg mt-2 mb-5">
                        <h1 class="text-white">Song Contest</h1>
                    </div>
                </div>
            </div>

        {% block body %}{% endblock %}

        </div>
        {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" type></script>
        <script>
            $(document).ready(function() {
                var $voteTable = $('.js-vote-table tbody');
                var $countTable = $('.js-count-table tbody');

                $voteTable.find('.js-vote-delete').on('click', function(e) {
                    e.preventDefault();

                    // change icon to red spinner
                    $(this).addClass('text-danger');
                    $(this).find('span')
                        .removeClass('fa-trash-alt')
                        .addClass('fa-spinner')
                        .addClass('fa-spin');

                    var $voteRow = $(this).closest('tr');
                    var voteDeleteUrl = $(this).data('url');
                    var voteSong = $(this).data('song');
                    var voteQuantity = $(this).data('quantity');

                    // count table values related to the current vote row
                    var $countRow = $countTable.find('.js-count-row-' + voteSong);
                    var $countCell = $countRow.children().last();
                    var newCount = $countCell.html() - voteQuantity;

                    $.ajax({
                        url: voteDeleteUrl,
                        method: 'DELETE',
                        success: function() {
                            // remove row from votes table
                            $voteRow.fadeOut();

                            // update vote total in count table
                            // remove row if count is zero
                            if (newCount == 0) {
                                $countRow.fadeOut();
                            } else {
                                $countCell.html(newCount);
                            } 

                            var $countRows = $countTable.find('tr');

                            // compare each count value to the row above it
                            $countRows.sort(function(a, b) {
                                return $(b).children().last().html() - $(a).children().last().html();
                            });

                            // update count table rows to new orders
                            $.each($countRows, function(index, $row) {
                                $countTable.append($row);
                            });
                        }
                    });
                    
                });
            });
        </script>
        {% endblock %}
    </body>
</html>
